<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>URL Shortener</title>

    <link rel='stylesheet' href='css/styles.css' />
  </head>
  <body class='bg-neutral-800 text-neutral-200'>
    <div class='container m-auto flex flex-col items-center'>

      <h1 class='mt-10 text-4xl font-bold'>URL Shortener</h1>

      <form
        action='/shortURLs'
        method='post'
        class='my-14 w-4/5 flex items-center justify-center'
      >
        <label for='fullURL' class='sr-only'>URL: </label>
        <input
          type='url'
          name='fullURL'
          id='fullURL'
          placeholder='URL:'
          class='block w-2/4 px-2 py-4 text-xl text-black bg-neutral-200 rounded-l'
        />
        <button
          type='submit'
          class='block px-10 py-4 bg-green-600 rounded-r text-xl'
        >Shorten</button>
      </form>

      <table class='text-lg border-collapse'>
        <thead class='bg-neutral-700'>
          <tr class='text-2xl border-b-4 border-neutral-800'>
            <th class='p-5'>Full URL</th>
            <th class='p-5'>Short URL</th>
          </tr>
        </thead>
        <tbody>
          {{#each urls}}
            <tr
              class='odd:bg-neutral-600 even:bg-neutral-700 hover:bg-neutral-800 border-y-4 border-neutral-800'
            >
              <th class='p-5'><a
                  href='{{this.fullURL}}'
                  target='_blank'
                >{{this.fullURL}}</a></th>
              <th class='p-5'><a
                  href='/redirect/{{this.shortURL}}'
                  target='_blank'
                >{{this.shortURL}}</a></th>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </body>
</html>